.heading-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 30rem; */
}

.review-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.review-card {
    width: 50%;
    /* height: 20 rem; */
    margin: 0.1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    background-color: var(--card-bg-color);
    background-color: #d9d6cd;
    box-shadow: 0.4rem 1rem 0.4rem 0.1rem #e1eaf8;
    border: 4px solid var(--btn-border-color);
}

.thumbnail {
    /* grid-area: 1/1/5/2; */
    grid-column: 1;
    grid-row: 1/ 5;
    justify-self: center;
    align-self: center;
    max-height: 100%;
    /* max-width: 90%; */
    /* object-fit: cover; */

}

.review-card>h1 {
    /* grid-area: 1/2/2/3; */
    margin: 0;
    padding: 0.5rem;
}

.review-card>p {
    /* grid-area: 2/2/3/3; */
    align-items: start;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 0;

}

.star-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: none;
    justify-content: start;
    padding: 0.5rem 0 0.5rem 0;
}

.star-div>button,
.edit-div>button {
    border: none;
    background-color: inherit;
    padding: none;
}

.star-div svg {
    width: 24px;
    height: 24px;
}

.edit-div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-self: self-start;
    padding: 0.5rem 0 0.5rem 0;
}

img.icon {
    height: 32px;
}


@media (max-width: 1080px) {

    .thumbnail {
        grid-row: 1 / 5;
    }

    .review-card {
        width: 80%;
    }

}

@media (max-width: 760px) {

    .thumbnail {
        grid-row: 1/ 5;
    }

    .review-card {
        width: 90%;
    }

    img.icon {
        height: 32px !important;
    }

    .star-div svg {
        width: 16px;
        height: 16px;
    }
}